{% if not is_owner %}
    {% extends "shuup/front/base.jinja" %}
{% else %}
    {% extends "shuup/front/dashboard/dashboard.jinja" %}
{% endif %}
{% block title -%}{{ customer_wishlist.name }}{%- endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        <li><a href="{{ url("shuup:personal_wishlists") }}">{% trans %}Wishlists{% endtrans %}</a></li>
        <li class="active">{{ customer_wishlist.name }}</li>
    </ol>
{% endblock %}

{% macro render_wishlist() %}
<h1>
    {{ customer_wishlist.name }}
    {% if is_owner %}
        <div class="pull-right">
            <form id="delete-customer-wishlist"
               method="post"
               action="{{ url("shuup:delete_wishlist", pk=customer_wishlist.pk) }}">
                {% csrf_token %}
                <button class="btn btn-primary">
                    <i class="fa fa-trash"></i> {% trans %}Delete Wishlist{% endtrans %}
                </button>
            </form>
        </div>
    {% endif %}
</h1>
{% if customer_wishlist.products.count() %}
{% if is_owner %}
<div class="row">
    <div class="col-md-12">
        <p class="share-links">
        {% trans %}Share: {% endtrans %}
            <a href="https://facebook.com/sharer/sharer.php" target="_blank" aria-label="Share on Facebook"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://twitter.com/intent/tweet/?text={% trans %}Check out my wishlist{% endtrans %};url={{ request.build_absolute_uri() }}" target="_blank" aria-label="Share on Twitter"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri() }}" target="_blank" aria-label="Share on Google+"><i class="fa fa-fw fa-google-plus"></i></a>
            <a href="https://www.tumblr.com/widgets/share/tool?posttype=link&title={% trans %}Check out my wishlist{% endtrans %}&canonicalUrl={{ request.build_absolute_uri() }}&shareSource=tumblr_share_button" target="_blank" aria-label="Share on Tumblr"><i class="fa fa-fw fa-tumblr"></i></a>
            <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri() }}&summary={{ customer_wishlist.name }}" target="_blank" aria-label="Share on Pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
            <a href="mailto:?subject={% trans %}Check out my wishlist{% endtrans %}&body={{ request.build_absolute_uri() }}" target="_self" aria-label="Share by E-Mail"><i class="fa fa-fw fa-envelope-o"></i></a>
        </p>
    </div>
</div>
{% endif %}
<div class="well">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% for product in customer_wishlist.products.all() %}
                    {% if product.get_shop_instance(request.shop).is_visible(request.customer) %}
                    {% set image = product.primary_image %}
                    {% if not image and product.variation_parent %}
                        {% set image = product.variation_parent.primary_image %}
                    {% endif %}
                    {% set thumbnail = image|thumbnail(size=(200,200), crop="smart", upscale=True) %}
                    {% set product_url = url("shuup:product", pk=product.pk, slug=product.slug) %}
                    {% set remove_product_url = url("shuup:remove_product_from_wishlist",
                                                    pk=customer_wishlist.pk,
                                                    product_pk=product.pk)%}
                    <tr>
                        <td class="wishlist-product-image">
                            <div style="background-image:url('{% if thumbnail %}{{ thumbnail }}{% else %}{{ STATIC_URL }}shuup_wishlist/img/no_image.png{% endif %}')"></div>
                        </td>
                        <td>
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.description|safe }}</p>
                        </td>
                        <td class="text-right">
                            <div class="btn-vertical">
                                <a href="{{ product_url }}" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    {% trans %}View Product{% endtrans %}
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                                {% if is_owner %}
                                    <form method="POST"
                                          action="{{ remove_product_url }}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-trash-o"></i>
                                            {% trans %}Remove{% endtrans %}
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <p class="lead">
        <i class="fa fa-info-circle text-info"></i> {{ _("No products found.") }}
    </p>
{% endif %}
{% endmacro %}


{% set render = render_wishlist() %}

{% block content %}
    {% if not is_owner %}
        {{ render }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block dashboard_content %}
    {{ render }}
{% endblock %}
