{% extends "shuup/front/dashboard/dashboard.jinja" %}
{% from "shuup_wishlist/macros.jinja" import render_wishlists_page %}
{% block title -%}{{ _("Wishlists") }}{%- endblock %}

{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {{ macros.render_breadcrumb_item(url("shuup:dashboard"), _("Dashboard")) }}
        {{ macros.render_breadcrumb_item(None, _("Wishlists"), True) }}
    {% endcall %}
{% endblock %}

{% block dashboard_content %}
    {{ render_wishlists_page(wishlists, True) }}
{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function(){
            $('#create-customer-wishlist').click(function(e){
                e.preventDefault();
                ShuupWishlist.showCreateWishlistModal();
            });
        });
    </script>
{% endblock %}
