{% if request.customer %}
<div class="btn-group dropdown-btn-block">
    <div class="btn-container">
        <button
            type="button"
            data-shop-product-id="{{ shop_product.id }}"
            class="btn btn-primary wishlist-btn btn-lg add-to-wishlist">
            {% trans %}Add to wishlist{% endtrans %}
        </button>
    </div>
    <button type="button"
            class="btn btn-primary btn-lg wishlist-btn dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="add-to-wishlist-dropdown dropdown-menu">
        {%  if wishlists %}
            {% for wishlist in wishlists %}
                <li><a data-wishlist-id="{{ wishlist.id }}"
                       href="#"
                       data-shop-product-id="{{ shop_product.id }}">{{ wishlist.name }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endif %}
        <li class="create-wishlist-list-item">
            <a class="create-wishlist" href="{{ url('shuup:create_wishlist') }}" data-shop-product-id="{{ shop_product.id }}">
            {% trans %}Create a wishlist{% endtrans %}
            </a>
        </li>
    </ul>
</div>
{% endif %}
