{% extends "shuup/front/dashboard/dashboard_base.jinja" %}

{% block dashboard_item_content %}
    {% if wishlists %}
         <div class="table-responsive">
            <table id="customer-wishlists" class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Wishlist Name') }}</th>
                        <th class="text-right">{{ _('Number of Items') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for wishlist in wishlists %}
                        <tr>
                            <td>{{ wishlist.name }}</td>
                            <td class="text-right">{{ wishlist.product_count }}</td>
                            <td class="text-right">
                                <a href="{{ url("shuup:wishlist_detail", pk=wishlist.pk) }}">
                                    <i class="fa fa-search"></i> {% trans %}Details{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p id="no-wishlists-found" class="lead">
            <i class="fa fa-info-circle text-info"></i> {% trans %}You haven't made any wishlists yet.{% endtrans %}
        </p>
    {% endif %}
{% endblock %}
