{% if request.customer and wishlist_id %}
<div>
    <a
        type="button"
        href="#"
        class="add-to-wishlist"
        data-shop-product-id="{{ shop_product.id }}"
        data-wishlist-id="{{ wishlist_id }}"
        title="{% trans %}Add to favorites{% endtrans %}">
        <i class="fa fa-heart"></i>{% if show_text %} {% trans %}Add to favorites{% endtrans %}{% endif %}
    </a>
</div>
{% endif %}
